body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
#container{
    width: 600px;
    border: 1px solid;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(138, 130, 148);
}
h1{
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
#Teacher{
    text-align: center;
}
li{
    list-style: none;
    margin-bottom: 5px;
}
ul{
    padding: 0;
}
